*~
*Makefile
*.o
*/.deps/
*/.libs/
*/*/.deps/
*/*/.libs/
*.la
*.lo
*.so
*.tar.gz
config.log
config.status
src/config.h
doc/html
doc/latex
libtool
test/xon_obj_rw
test/xon_objxx_rw
test/test_server_c
test/test_server_cxx
test/test_client_c
test/test_client_cxx
test/speed_client
test/exec_pipe_client
test/preload_victim
src/xon_server_exec_pipe
src/xon_server_speed_test
src/xon_server_mathlink
build/
python/*/*.cpp
*.pyc
libxon-*