*~
*Makefile.in
*Makefile
*.o
config.*
*/.deps/
*/.libs/
*/*/.deps/
*/*/.libs/
*.la
*.lo
*.tar.gz
doc/html
doc/latex
libtool
test/xon_obj_rw
test/xon_objxx_rw
test/test_server_c
test/test_server_cxx
test/test_client_c
test/test_client_cxx
test/speed_client
test/speed_server
src/xon_server_exec_pipe
test/exec_pipe
build/